[Unit]
Description=Run imgproxy cleanup every 6 hours
Requires=imgproxy-cleanup.service

[Timer]
OnCalendar=*-*-* */6:00:00
Persistent=true

[Install]
WantedBy=timers.target 